set rnu
set number
set idearefactormode=insert
set incsearch
set ideajoin
set clipboard+=unnamed
set highlightedyank
set surround
set NERDTree
set scrolloff=18
let mapleader = " "

" Editor remaps
imap jk <Esc>
nnoremap <M-d> <C-d>
nnoremap <M-u> <C-u>
nnoremap s _
nnoremap e $

" Tabs navigation remapping
nmap <C-h> <C-w><C-h>
nmap <C-l> <C-w><C-l>
nmap <C-j> <C-w><C-j>
nmap <C-k> <C-w><C-k>
nmap <leader>. <C-w>o
nmap <M-d> <C-d>
nmap <M-u> <C-u>

" Actions remaps
nmap <leader>sl :action SplitVertically<cr>
nmap <leader>sv :action SplitHorizontally<cr>
nmap <S-k> :action MoveStatementUp<cr>
nmap <S-j> :action MoveStatementDown<cr>
nmap gp :action RecentFiles<cr>
nmap ge :action GotoNextError<cr>
nmap gE :action GotoPreviousError<cr>
nmap <leader><leader> :action ShowErrorDescription<cr>
nmap <leader>r :action ReformatCode<cr>
nmap <leader>o :action OptimizeImports<cr>
nmap <leader>sb :action ViewStatusBar<cr>
nmap <leader>gi :action GotoImplementation<cr>
nmap <leader>gs :action GotoSuperMethod<cr>
nmap <leader>ghb :action Git.Branches<cr>
nmap <leader>ghp :action Git.Pull<cr>
nmap <leader>ghr :action Git.Configure.Remotes<cr>
nmap ,l :action ChooseRunConfiguration<cr>
nmap ,; :action ChooseDebugConfiguration<cr>
nmap <leader>ghd :action Compare.SameVersion<cr>
nmap <leader>se :action com.turbinekreuzberg.plugins.actions.ExtendInPyzAction<cr>
nmap <leader>dp :action ToggleLineBreakpoint<cr>
nnoremap <leader>k :action Refactorings.QuickListPopupAction<CR>
nmap <leader>lrw :e routes/web.php<cr>
nmap <leader>lra :e routes/api.php<cr>
nmap <leader>sry :vsplit src/Generated/Yves/Router/codeBucketDE/Pyz/url_generating_routes.php<cr>
nmap <leader>srz :vsplit src/Generated/Router/Backoffice/codeBucketDE/url_generating_routes.php<cr>
nmap <leader>xdl :action PhpListenDebugAction<cr>
nmap <leader>cg :action Generate<cr>
