#!/bin/sh
#
# An example hook script to verify what is about to be committed.
# Called by "git commit" with no arguments.  The hook should
# exit with non-zero status after issuing an appropriate message if
# it wants to stop the commit.
#
# To enable this hook, rename this file to "post-checkout".
[ "$SKIP" = 1 ] && exit 0

echo "=================== Preparing new branch ==============="
docker/sdk cli composer install
docker/sdk cli composer dump-autoload -o
docker/sdk console cache:class-resolver:build
docker/sdk console twig:cache:warmer
docker/sdk console dev:ide-auto-completion:client:generate
docker/sdk console dev:ide-auto-completion:glue:generate
docker/sdk console dev:ide-auto-completion:service:generate
docker/sdk console dev:ide-auto-completion:yves:generate
docker/sdk console dev:ide-auto-completion:zed:generate
docker/sdk console transfer:generate
docker/sdk console propel:install
docker/sdk console data:import
docker/sdk console queue:worker:start -s
docker/sdk console cache:empty-all

terminal-notifier -title "Terminal" -message "Done with task! Exit status: $?" -sound "default";
